@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.awesome h1 {
    margin-top: 100px;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;  
    line-height: 42px;
    color: #212121;
}
.awesome hr {
    margin-top: 25px;
    margin-left: calc(50% - 32px);
    border: none; /* Убираем границу */
    color: #E72424; /* Цвет линии для IE6-7 */
    background-color:#E72424;
    height: 1px; /* Толщина линии */
    width: 64px; 
}

.awesome p {
    margin-top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
 }

 .why-awesome {
    font-size: 0;
    margin-top: 67px; 
    margin-left: 127px;
    margin-right: 127px;
}

.why-awesome-block {
    display: inline-block;
    width: 33.33%;
    font-size: 16px;
    float: left;
}

.why-awesome-block h2 {
    margin-top: 30px; 
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.why-awesome-block p {
    margin: 18px 16px 0 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.circle-image{
    display: inline-block;
    border: 1px solid #E72424;
    border-style: solid;
    border-radius: 70px;
    width: 70px;
    height: 70px; 
}



